* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header qismi boshlandi */
header {
    width: 28%;
    height: 70vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 80%;
    height: 90%;
}

.box .text {
    text-align: center;
}

.box .text h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.topf {
    width: 100%;
    height: 6vh;
    border: none;
    border: 1px solid #cdd8e6;
    border-radius: 5px;
    background-color: #EDF2F7;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 7%;
    gap: 4.5rem;
}

.topf:hover
{
    background: hsl(209, 45%, 91%);
}

.orlogin
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11%;
}

.orlogin p
{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: #8c8c8c;
}

.orlogin div
{
    width: 28%;
    box-shadow: 0 0 0 0.1px #606060; 
}

form 
{
    margin-top: 1rem;
}


.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.container
{
    width: 87%;
}

input[type="email"] {
    padding-right: 30px; 
    width: 100%;
    box-sizing: border-box; 
}

.input-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    pointer-events: none; 
}

